<!-- insert page-specific content to main.html layout -->
<div class="content">

<div class="row">
  <div class="large-12 columns">
    <h1>Featured Documents</h1>
  </div>
</div>
<div class="divider"></div>
<div class="row">

{% include documents.html columns=2 %}
<div class="large-6 columns">
  <article class="divborder">
    <h3 class="inline"><a href="/congo-mines/document/">Document Title</a></h3>
    <h4>Author Name</h4>
    <p><span class="meta">Date</span> Jan 24, 2015</p>
    <p>Fusce ante lectus, pulvinar sed lacus scelerisque, bibendum commodo mauris. Vivamus erat velit, so  lacus scelerisque, bibendum commodo mauris.</p>
    <!-- <p class="meta">Date: <a>Jan 24, 2015</a> - Theme: <a>Lorem Ipsum</a> - Type: <a>Lorem Ipsum</a> - Source: <a>Lorem Ipsum</a> - Company: <a>Document Ipsum</a></p> -->
    <a href="/document/"><button>Read More</button></a>
  </article>
</div>

<div class="large-6 columns">
  <article class="divborder">
    <h3 class="inline"><a href="/congo-mines/document/">Document Title</a></h3>
    <h4>Author Name</h4>
    <p><span class="meta">Date</span> Jan 24, 2015</p>
    <p>Fusce ante lectus, pulvinar sed lacus scelerisque, bibendum commodo mauris. Vivamus erat velit, so  lacus scelerisque, bibendum commodo mauris.</p>
    <!-- <p class="meta">Date: <a>Jan 24, 2015</a> - Theme: <a>Lorem Ipsum</a> - Type: <a>Lorem Ipsum</a> - Source: <a>Lorem Ipsum</a> - Company: <a>Document Ipsum</a></p> -->
    <a href="/document/"><button>Read More</button></a>
  </article>
</div>


</div>

</div>

{% include search.html %}
<div class="search">

<div class="row">
  <div class="large-12 columns text-center">
    <h1>CongoMines Document Library</h1>
    <p>lorem ipsum fusce ante lectus sed lacus</p>
  </div>

</div>
<div class="divider"></div>
<div class="row">
    <div class="large-9 columns">
        <input type="text" placeholder="Search Documents" />
    </div>
    <div class="large-3 columns">
        <button>Search Library</button>
    </div>
    <div class="large-12 columns">
      <a id="hideshow" value="wee">+ Advanced Search</a>
    </div>
</div>
<div class="divider"></div>
<div id="advanced">
  <div class="row">
    <div class="large-12 columns">
      <h3>Document Theme</h3>
          <form action="">
                <label><input type="checkbox" name="themes" value="resources">Resources</label>
                <label><input type="checkbox" name="themes" value="environment">Environment</label>
                <label><input type="checkbox" name="themes" value="budget">Budget</label>
                <label><input type="checkbox" name="themes" value="miningops">Mining Operations</label>

          </form>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h3>Document Type</h3>
          <form action="">
                <label><input type="checkbox" name="types" value="press">Press Release</label>
                <label><input type="checkbox" name="types" value="projectdocs">Project Docs</label>
                <label><input type="checkbox" name="types" value="reports">Reports</label>
                <label><input type="checkbox" name="types" value="lawstandards">Law/Standards</label>
                <label><input type="checkbox" name="types" value="presentation">Presentation</label>
          </form>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h3>Source Type</h3>
          <form action="">
                <label><input type="checkbox" name="source" value="companies">Companies</label>
                <label><input type="checkbox" name="source" value="committees">Committees</label>
                <label><input type="checkbox" name="source" value="civilsociety">Civil Society</label>
                <label><input type="checkbox" name="source" value="government">Government</label>

          </form>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <h3>DRC Company</h3>
        <input type="text" placeholder="" />
    </div>
    <div class="large-6 columns">
      <h3>Shareholder Company</h3>
        <input type="text" placeholder="" class="searchicon"/>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="large-12 columns">
        <button>Submit</button>
    </div>
  </div>
</div>
</div>


<div class="banner">
<div class="row">
  <div class="large-9 columns"><h2>View our collection of Documents</h2></div>
  <div class="large-3 columns"><a href="/library/"><button>Visit Library </button></a></div>
</div>
</div>

<div class="content">

<div class="row">
  <div class="large-12 columns">
    <h1>Categories</h1>
  </div>
</div>
<div class="divider"></div>
<div class="row">
  <div class="large-12 columns text-center">
    <div class="category">
      <img src="/congo-mines/img/icon.png" />
      <h3>EITI Compliance</h3>
    </div>
    <div class="category">
      <img src="/congo-mines/img/icon.png" />
      <h3>Mining Code Legal Framework</h3>
    </div>
    <div class="category">
      <img src="/congo-mines/img/icon.png" />
      <h3>Sicomines</h3>
    </div>
  </div>
  <div class="large-12 columns text-center">
    <div class="category">
      <img src="/congo-mines/img/icon.png" />
      <h3>Government Asset Sales</h3>
    </div>
    <div class="category">
      <img src="/congo-mines/img/icon.png" />
      <h3>Human Rights & Mining</h3>
    </div>
  </div>
</div>

</div>
