<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: true">

  <ul class="title-area">
    <li class="name"><!-- Leave this empty --></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="left">



      <li class="divider"></li>

      <li class="has-dropdown map-dropdown mining-data">
        <a class="title" href="#">Mines et infrastructures <span class="layer-title"></span></a>
        <ul class="dropdown">
          <li>
            <a class="add-layer" href="#" data-type="deposit" data-url="<%= get_deposits_geodata_drc_company_path{@drc_company} %>">Gisements</a>
          </li>
          <li>
            <a class="add-layer" href="#" data-type="processing_infrastructure" data-url="<%= get_processing_infrastructures_geodata_drc_company_path{@drc_company} %>">Installations de traitement</a>
          </li>
          <li>
            <a class="add-layer" href="#" data-type="social_project" data-url="<%= get_social_projects_geodata_drc_company_path{@drc_company} %>">Projets sociaux</a>
          </li>
        </ul>
      </li>

     

      <li class="divider"></li>
    </ul>

  </section>
</nav>
<iframe id="map" src="http://maphubs.dev:4000/map/embed/10/interactive"
  frameborder="0">
</iframe>
