<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: true">
  <ul class="title-area">
    <li class="name">
      <h1>Map Layers</h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown">
        <a href="#">Data Layers</a>
        <ul class="dropdown">
          <li><a href="#">Deposits</a></li>
          <li><a href="#">Processing Infrastructures</a></li>
          <li><a href="#">Social Projects</a></li>
        </ul>
      </li>
      <li class="has-dropdown"><a href="#">Basetiles</a>
        <ul class="dropdown">
          <li><a href="#">Tile Layer 1</a></li>
          <li><a href="#">Tile Layer 2</a></li>
        </ul>
      </li>
    </ul>

  </section>

</nav>
