<div>
<a class="twitter-timeline" data-height="300" data-theme="dark" data-link-color="#32acde" href="https://twitter.com/CongoMines?ref_src=twsrc%5Etfw">Tweets by CongoMines</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>