# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b8b077bd1fb0ce7b94c9110be2c262050f95b204155916309386b59ed9e1ad5e6daac9c97b8bc120b7a8b9d40106435aed4da28cff58e8cf6bd25f4cc1e9b32f

test:
  secret_key_base: 30106aa0d0c4dc4038b357ed46a3639b4d71ba02d5026d125fcdcf9fe407a6af68ea8e9d0cfb406adab08ebbf38d0bcd380a0b70a060b898a4f8d6aa16b6db53

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
