<%= render "shared/search" %>

<div class="content">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="ftr">Search Result Documents</h2>
    </div>

    <% until @reports.empty? %>
      <div class="row">
        <% reports_line = @reports.shift(4) %>
        <%= render partial: "shared/documents2", locals: {reports: reports_line, columns: reports_line.count} %>
      </div>
    <% end %>

    <div class="row"><%= paginate @reports %></div>
  </div>
</div>
