= render "shared/search"

.content
  .row
    div[class='large-12 columns']
      h2[class="ftr"]
        Search Result Documents

    - if @reports
      - @reports.in_groups_of(3) do |r|
        .row
          = render partial: "shared/documents3", locals: {reports: r, columns: 4 }
    - else
      h2
        Sorry no results found!

    .row =  paginate @results
