/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require active_scaffold
 *= require active_scaffold_export
 *= require jquery-ui/core
 *= require jquery-ui/sortable
 *= require jquery-ui/datepicker
 *= require chosen
 
 *  require_tree .
 *= require_self

*/
/*
.name-input, .title-input{
  font: bold 13px arial;
  //  letter-spacing: -1px;
  border: solid 4px #a08a31;
  width: 450px;
} 

*/

.header,
.active-scaffold .active-scaffold-header {
  margin: 0 8px;
}

.active-scaffold li.form-element dd {
  margin-bottom: 12px;
}

.active-scaffold textarea, 
.active-scaffold input.text-input {
  width: 300px;
}

.active-scaffold textarea {
  min-height: 100px;
}

.active-scaffold li.form-element dt {
  margin-right: 12px;
}

li.form-element.checkbox {
  padding-left: 0;
}

.active-scaffold .form-element.checkbox input[type="checkbox"]{
  margin-left: 0;
}
