<div class="footer">

  <div class="row">
    <div class="large-8 columns">
      <h4>Recent Tweets</h4>
      <a class="twitter-timeline" href="https://twitter.com/CongoMines" data-widget-id="575669422460796928" data-chrome="nofooter transparent noborder noheader">Tweets by @CongoMines</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="large-4 columns">
      <h4>Stay Connected</h4>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
      <div class="divider"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="congomines">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="120"></div>
      <div class="fb-share-button" data-href="http://www.congomines.org/" data-layout="button_count"></div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="large-6 columns"><p>© Copyright 2015 - CongoMines</p></div>
    <div class="large-6 columns">
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
  </div>


</div>
